body {
    background-color: rgba(82, 146, 124, 0.7);
}
.title {
    background-color: aliceblue;
    text-align: center;
    margin: 10px 0px;
    border: 2px solid black;
    border-radius: 10px;
}
.flex-link {
    display: flex;
    margin-top: 40px;
}
.flex-buttons-1 {
    width: 560px;
    margin-right: 20px;
}
.flex-buttons-2 {
    width: 350px;
}
.buttons-1 {
    display: flex;
    flex-direction: column;
}
.buttons-2 {
    display: flex;
    flex-direction: column;
}
button {
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    font-size: 24px;
}
.student-list {
    margin-top: 2%;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
tr{
    border: 1px solid black;
    border-collapse: collapse;
    display: flex;
    justify-content: space-between;
    
}
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
td {
    padding: 20px;
}